server {
    server_name {{ dnshare_domain }};

    location / {
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
        proxy_set_header Connection keep-alive;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://localhost:{{ dnshare_port }};
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ dnshare_domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ dnshare_domain }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
}

server {
    listen 80;
    server_name {{ dnshare_domain }};
    return 301 https://$host$request_uri;
}
