{% extends "layout.html" %}
{% block body %}

    <h1 class="title is-2">
        DNShare.org / DNShare.club
    </h1>
    <h2 class="subtitle is-4">
        Free, temporary, and anonymous. A-host registration.
    </h2>

    <section class="content">
        <blockquote>
            DNShare is basically a place where anyone can register subdomains for two of the available shared domains,
            and get a free Let's Encrypt certificate with them.
        </blockquote>

        <p>
            It's aimed to teachers and beginner web developers who just want to point some name to an IP without further
            complication. You can optionally create an account if you want further control on how to manage your
            subdomain registrations.
        </p>

        <p>
            It's similar to <a href="https://freedns.afraid.org/">FreeDNS</a>, except in that FreeDNS has been around
            since forever, and it's likely to be around for years to come. And it that FreeDNS has a lot of other cool
            novelty domains too. Visit them and see for yourself!
        </p>

        <p>
            Anyways, feel free to create subdomains for any (legal) purpose. If you have any questions about the service
            feel free to send me an email at <code>cristian [at] dnshare.org</code>.
        </p>
    </section>

{% endblock %}