{% extends "layout.html" %}
{% from "_form_macros.html" import render_field_errors, render_flashed_messages %}
{% block body %}

    <div class="box" id="home-registration-form">
        <h1 class="title is-3">
            Register a new subdomain {% if current_user.is_anonymous %}anonymously{% endif %}
        </h1>
        <h2 class="subtitle is-5">
            {% if current_user.is_anonymous %}
                We still log your IP though, for the usual reasons.
            {% else %}
                And associate it with your user account.
            {% endif %}
        </h2>

        {{ render_flashed_messages() }}
        {{ render_field_errors(form) }}

        <form action="{{ url_for('default.register_anon_host') }}" id="anon-register-form" method="POST">
            {{ form.csrf_token }}

            <div class="field has-addons is-grouped is-grouped-multiline">
                <div class="control is-expanded">
                    <input id="subdomain-input" type="text" name="{{ form.subdomain.name }}"
                           placeholder="subdomain" class="input is-medium">
                </div>
                <div class="control is-expanded-mobile">
                    <div class="select is-medium">
                        <select name="{{ form.domain.name }}">
                            {% for domain in form.domain.choices %}
                                <option value="{{ domain[0] }}">{{ domain[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control is-hidden-mobile">
                <span class="button is-static is-medium">
                    resolves to
                </span>
                </div>
                <div class="control is-expanded-mobile">
                    <input type="text" name="{{ form.host_ip.name }}" class="input is-medium"
                           placeholder="127.0.0.1">
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <p>
                        <strong>NOTE:</strong>
                        {% if current_user.is_authenticated %}
                            You'll be able to make changes to this registration as long as
                            you're logged in as <em>{{ current_user.email }}</em>, here,
                            or by going to My domains.
                        {% else %}
                            You'll be able to make changes to this registration from the following
                            IP: {{ remote_ip }}. For more reliable administration,
                            please consider creating an account and logging in.
                        {% endif %}
                    </p>
                </div>
                <div class="level-right">
                    <button type="submit" class="button is-primary is-medium is-fullwidth">
                        Submit registration
                    </button>
                </div>
            </div>
        </form>
    </div>

    <section class="columns has-text-centered">
        <div class="column">
            <h3 class="title is-4">For Teachers</h3>
            <h4 class="subtitle is-6 has-text-grey-light">Create one-off domains for examples.</h4>
        </div>
        <div class="column">
            <h3 class="title is-4 has-text-centered">For Lazy People</h3>
            <h4 class="subtitle is-6 has-text-grey-light">No need of registration.</h4>
        </div>
        <div class="column">
            <h3 class="title is-4 has-text-centered">For (YOU)</h3>
            <h4 class="subtitle is-6 has-text-grey-light">UUUU</h4>
        </div>
    </section>

{% endblock %}