{% extends "layout.html" %}
{% from "_form_macros.html" import render_field_errors, render_flashed_messages %}
{% block body %}

    <div class="box" id="home-registration-form">
        {{ render_flashed_messages() }}

        <h1 class="title is-3">
            Claimable registrations
        </h1>
        <h2 class="subtitle is-5">
            Registrations made from your IP, but not while logged-in.
        </h2>

        <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
                <th>Domain</th>
                <th>Host IP</th>
                <th>Registration date (UTC)</th>
                <th>Expiration date (UTC)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in claimable %}
                <tr>
                    <td>{{ registration.subdomain }}.{{ registration.domain }}</td>
                    <td>{{ registration.host_ip }}</td>
                    <td>{{ registration.creation_date_utc }}</td>
                    <td>{{ registration.expiration_date_utc }}</td>
                    <td>
                        <form action="{{ url_for('default.claim') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="registration_id" value="{{ registration.id }}">
                            <button class="button is-primary is-small" type="submit">
                                Claim
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="has-text-centered has-text-grey-light">
                        There are no claimable registrations.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1 class="title is-3">
            Active registrations
        </h1>

        <table class="table is-fullwidth is-striped">
            <thead>
            <tr>
                <th>Domain</th>
                <th>Host IP</th>
                <th>Registration date (UTC)</th>
                <th>Expiration date (UTC)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for registration in active %}
                <tr>
                    <td>{{ registration.subdomain }}.{{ registration.domain }}</td>
                    <td>{{ registration.host_ip }}</td>
                    <td>{{ registration.creation_date_utc }}</td>
                    <td>{{ registration.expiration_date_utc }}</td>
                    <td>
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-small" disabled="disabled">
                                    Edit
                                </a>
                            </p>
                            <p class="control">
                            <form action="{{ url_for('default.delete') }}" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="registration_id"
                                       value="{{ registration.id }}">
                                <button class="button is-danger is-small js-delete-registration"
                                        data-registration-id="{{ registration.id }}">
                                    Delete
                                </button>
                            </form>
                            </p>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="has-text-centered has-text-grey-light">
                        There are no active registrations.
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('default.home') }}" class="button is-primary is-medium is-pulled-right">
            Create New Registration
        </a>
        <span class="is-clearfix"></span>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteRegistrationBtns = document.querySelectorAll('.js-delete-registration');
            deleteRegistrationBtns.forEach(function (el) {
                el.addEventListener('click', function (evt) {
                    const deletionConfirmed = confirm('Are you sure you want to delete this registration?');
                    if (!deletionConfirmed) evt.preventDefault();
                });
            });
        });
    </script>
{% endblock %}