{% extends "layout.html" %}
{% block body %}

    <h1 class="title is-3">
        Privacy Policy
    </h1>
    <h2 class="subtitle is-5">
        What data we store, and with whom we share that data.
    </h2>

    <section class="content">
        <blockquote>
            <strong>TL;DR:</strong> We store your IP, and if you give it to us: your email.
            Your data is never given in any form to third parties, except upon legally
            valid requests made in the US (where the servers are) or Chile (where I'm).
        </blockquote>

        <h3>What we always collect</h3>

        <p>
            When you create a domain, we store your public IP together with the rest of
            the domain registration info. No further fingerprinting is performed.
        </p>

        <p>
            This information is mainly stored so you can make changes in your anonymously
            registered subdomains as long as you visit the site from the same IP as when
            you created them.
        </p>

        <h3>What we collect when you create an account</h3>

        <p>
            When you create an account, you may optionally enter your email to provide a
            way for you to recover your password in if you need to do so. We also store
            your public IP when you create the account. We don't store further login and
            logout data.
        </p>

        <h3>With whom we share your data</h3>

        <p>
            We don't give your data to any third party, ever... except, of
            course, when that third party has a legally valid (in the US or Chile)
            warrant for the data. I'm sorry for that, but saying otherwise would be to
            lie.
        </p>

        <h3>Anything else?</h3>

        <p>
            If you have any further questions, please consider sending me an email at
            <code>cristian [at] dnshare.org</code>.
        </p>
    </section>

{% endblock %}