@charset "utf-8";

// Import initial Bulma variables with defaults
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Override what we need
$box-background-color: rgba($white, .97);
$footer-background-color: $white-ter;
$primary: $cyan;

// Import the rest of Bulma
@import "~bulma/bulma";

.is-lined-through {
  text-decoration: line-through;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ffffff;
}

.level-left {
  margin-right: 5px;
}

.level-left, .level-right {
  flex-shrink: 1; // prevent level items from overflowing parent
}

.footer {
  padding-bottom: 3rem;
}

@media (max-width: 768px) {
  .is-expanded-mobile {
    flex-grow: 1;
  }

  .is-expanded-mobile div.select, .is-expanded-mobile select {
    width: 100%;
  }
}

.field.is-grouped > .control {
  margin-right: 0 !important;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

#home-registration-form {
  margin-bottom: 3rem;
}

// === Sign-up & Sign-in ===

.signup-form {
  max-width: 500px;
  margin: 0 auto;

  &__related-actions {
    text-align: center;
    margin-top: 1em;

    a:not(:last-of-type) {
      margin-right: 1em;
    }
  }
}