{% extends "layout.html" %}
{% block body %}

    <h1 class="title is-2">
        Internal Server Error - HTTP 500
    </h1>
    <h2 class="subtitle is-4">
        It was bound to happen eventually.
    </h2>

    <section class="content">
        <p>
            Basically, there's some misconfiguration of some sorts or maybe there's a
            problem communicating with the subdomain registration service, but in any
            case it means that <em>somewhere</em>, <em>somehow</em>, <em>something</em>
            went <strong>terribly</strong> wrong.
        </p>
        <p>
            You may go back to <a href="{{ url_for('default.home') }}">the home page</a>
            to try again, but if you're here for a second time because the application
            crashed (again), maybe it's something more serious and maybe it's better if
            you try again later instead.
        </p>
        <p>
            When errors like this happen, I get notified of it, so it's likely I'm already
            working on it. You can mail me at
            <a href="mailto:cristian@dnshare.org">cristian@dnshare.org</a> if you have
            questions or want to tell me more details about how the error happened, all
            help is welcome!
        </p>
        <p>
            That's it. I'm really sorry for what happened, and after fixing it I'll make
            sure that it doesn't happen again (in the same manner, at least).
        </p>
    </section>
    <a href="{{ url_for('default.home') }}" class="button is-primary is-medium">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
        <span>Go back to the home page</span>
    </a>

{% endblock %}