{% macro render_field_errors(form) %}
    {% if form.errors %}

        <div class="notification is-danger">
            <button class="delete"></button>
            <ul>
                {% for field in form.errors %}
                    {% for error in form.errors[field] %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>

    {% endif %}
{% endmacro %}

{% macro render_flashed_messages() %}

    {% for error_message in get_flashed_messages(category_filter=["error"]) %}
        <div class="notification is-warning">
            <button class="delete"></button>
            <p>{{ error_message }}</p>
        </div>
    {% endfor %}
    {% for success_message in get_flashed_messages(category_filter=["success"]) %}
        <div class="notification is-success">
            <button class="delete"></button>
            <p>{{ success_message }}</p>
        </div>
    {% endfor %}
    {% for info_message in get_flashed_messages(category_filter=["info"]) %}
        <div class="notification is-info">
            <button class="delete"></button>
            <p>{{ info_message }}</p>
        </div>
    {% endfor %}

{% endmacro %}