<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>DNShare</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='bg.png') }}");
        }
    </style>
</head>

<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ url_for('default.home') }}" class="navbar-item">
                <h1 class="title">
                    <span class="has-text-dark">DNShare</span><span class="has-text-primary">.org</span>
                </h1>
            </a>

            <div class="navbar-item is-hidden-touch">
                <p class="has-text-grey-dark">Free, temporary, and anonymous. A-host registration.</p>
            </div>

            <div class="navbar-burger burger" data-target="menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu" id="menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{ url_for('default.about') }}">
                    About
                </a>
                <a class="navbar-item" href="{{ url_for('default.privacy') }}">
                    Privacy
                </a>

                {% if current_user.is_authenticated %}
                    <a class="navbar-item" href="{{ url_for('default.registrations') }}">
                        My domains
                    </a>
                    <a class="navbar-item" href="{{ url_for('user.settings') }}">
                        My account
                    </a>
                    <a class="navbar-item js-logout" href="#">
                        Sign-out
                    </a>
                {% else %}
                    <a class="navbar-item" href="{{ url_for('user.login') }}">
                        Sign-in
                    </a>

                    <div class="navbar-item">
                        <div class="field">
                            <a class="button is-primary" href="{{ url_for('user.signup') }}">
                                Sign-up
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container" id="content">
    {% block body %}
    {% endblock %}
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <div class="container">
            <p>
                Source code is available at <a href="https://gitlab.com/cristianof/dnshare">GitLab</a>
                under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3 license</a>.
            </p>
        </div>
    </div>
    <form id="logout-form" action="{{ url_for('user.logout') }}" method="post"></form>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const logoutTrigger = document.querySelector('.js-logout');
        const logoutForm = document.getElementById('logout-form');
        logoutTrigger && logoutTrigger.addEventListener('click', function () {
            logoutForm.submit();
        });

        const deleteButtons = document.querySelectorAll('.delete');
        deleteButtons.forEach(function (el) {
            el.addEventListener('click', function () {
                el.parentElement.remove();
            });
        });

        const burgers = document.querySelectorAll('.navbar-burger');
        burgers.forEach(function (el) {
            el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    });

    function postData(url = ``, data = {}) {
        return fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json; charset=utf-8",
            },
            body: JSON.stringify(data),
        }).then(response => response.json());
    }
</script>
{% block scripts %}
{% endblock %}

</body>
</html>