{% extends "layout.html" %}
{% from "_form_macros.html" import render_field_errors, render_flashed_messages %}
{% block body %}

    <div class="box signup-form">
        <h1 class="title">Recover account</h1>
        <h2 class="subtitle">Get a reset password link in your email.</h2>

        {{ render_flashed_messages() }}
        {{ render_field_errors(form) }}

        <form action="{{ url_for('user.begin_password_reset') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="field">
                <label class="label">{{ form.email.label }}</label>
                <div class="control">
                    <input class="input" type="text" name="email" placeholder="e.g. nico@example.com"
                           value="{{ form.email.data or '' }}">
                </div>
                <p class="help">This must match the email currently associated with the account.</p>
            </div>

            <button type="submit" class="button is-primary is-fullwidth">
                Continue
            </button>
        </form>

        <div class="signup-form__related-actions">
            <a href="{{ url_for('user.signup') }}">Looking to register a new account instead?</a>
        </div>
    </div>

{% endblock %}