{% extends "layout.html" %}
{% from "_form_macros.html" import render_field_errors, render_flashed_messages %}
{% block body %}

    <div class="box signup-form">
        <h1 class="title">Welcome back</h1>
        <h2 class="subtitle">Sign-in with your existing account.</h2>

        {{ render_flashed_messages() }}
        {{ render_field_errors(form) }}

        <form action="{{ url_for('user.login') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="field">
                <label class="label">{{ form.email.label }}</label>
                <div class="control">
                    <input class="input" type="text" name="email" placeholder="e.g. nico@example.com"
                           value="{{ form.email.data or '' }}">
                </div>
            </div>

            <div class="field">
                <label class="label">{{ form.password.label }}</label>
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="e.g. hunter2">
                </div>
            </div>

            <button type="submit" class="button is-primary is-fullwidth">
                Continue
            </button>
        </form>

        <div class="signup-form__related-actions">
            <a href="{{ url_for('user.signup') }}">Looking to register?</a>
            <a href="{{ url_for('user.begin_password_reset') }}">Recover an account</a>
        </div>
    </div>

{% endblock %}