{% extends "layout.html" %}
{% from "_form_macros.html" import render_field_errors, render_flashed_messages %}
{% block body %}

    <div class="box signup-form">
        <h1 class="title">Password reset</h1>
        <h2 class="subtitle">Enter a new password.</h2>

        {{ render_flashed_messages() }}
        {{ render_field_errors(form) }}

        <form action="{{ url_for('user.reset_password') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="field">
                <label class="label">{{ form.password.label }}</label>
                <div class="control">
                    <input class="input" type="password" name="password">
                </div>
                <p class="help">7 characters or more.</p>
            </div>

            <button type="submit" class="button is-primary is-fullwidth">
                Continue
            </button>
        </form>
    </div>

{% endblock %}