{% extends "layout.html" %}
{% from "_form_macros.html" import render_field_errors, render_flashed_messages %}
{% block body %}

    <div class="box signup-form">
        <h1 class="title">Account settings</h1>
        <h2 class="subtitle">Update email or password</h2>

        {{ render_flashed_messages() }}
        {{ render_field_errors(form) }}

        <form action="{{ url_for('user.settings') }}" method="post">
            {{ form.hidden_tag() }}

            <div class="field">
                <label class="label">{{ form.old_password.label }}</label>
                <div class="control">
                    <input class="input" type="password" name="old_password">
                </div>
                <p class="help">
                    You must enter your current password to make any changes
                    to your account.
                </p>
            </div>

            <div class="field">
                <label class="label">{{ form.email.label }}</label>
                <div class="control">
                    <input class="input" type="text" name="email" placeholder="e.g. nico@example.com"
                           value="{{ form.email.data or '' }}">
                </div>
            </div>

            <div class="field">
                <label class="label">{{ form.new_password.label }}</label>
                <div class="control">
                    <input class="input" type="password" name="new_password" placeholder="e.g. hunter2">
                </div>
                <p class="help">
                    7 characters or more.
                </p>
            </div>

            <button type="submit" class="button is-primary is-fullwidth">
                Save Changes
            </button>
        </form>
    </div>

{% endblock %}